@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Turneje

<p>Id: @Model.Id</p>
<p>Turneja: @Model.turneja</p>
<p>Clani: @Model.clani</p>
<p>Bendi: @Model.bendi</p>
