@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Clan

<form method="post" asp-action="SaveEditedClan" asp-route-newIme="@Model.ime">
    <div>
        <label>Ime:</label>
        <input type="text" asp-for="ime" readonly />
    </div>
    <label>New Ime:</label>
    <input type="text" name="newIme" />
    <div>
        <label>Priimek:</label>
        <input type="text" asp-for="priimek" />
    </div>
    <div>
        <label>Starost:</label>
        <input type="number" asp-for="starost" />
    </div>
    <div>
        <label>TurnejaTK:</label>
        <input type="number" asp-for="TurnejaTK" />
    </div>
    <div>
        <button type="submit">Save Changes</button>
    </div>
</form>